body {
    background-color: beige;
}

header {
    background-color:rgba(251, 117, 69, 0.705);
    padding:5px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5%;

}

table, th, td, tr {
    border: 1px solid black;
    border-radius: 10%;
    border-spacing: 10px;
    border-bottom-width: 3px;
    
    

}

table {
    width: 50%;

}

th {
    background-color: rgba(255, 127, 80, 0.911);
}

.inputForm {
    margin-bottom: 50px;
}

.inputs {
    text-align: center;
}

#add-employee {
    text-decoration: underline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#monthly-cost {
    margin-left: 30%;
    margin-top: 10%;
    text-decoration: underline;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
